---
export type ButtonType = 'primary' | 'secondary';
export type ButtonArrowColor = 'blue' | 'dark' | 'light' | 'purple';

interface Props {
  type: ButtonType;
  text: string;
  arrowColor?: ButtonArrowColor;
  class?: string;
}

const {text, type = 'primary', arrowColor, class: className} = Astro.props;
---

<button
  type="button"
  aria-label={text}
  class:list={[
    {'primary-button': type === 'primary'},
    {'secondary-button': type === 'secondary'},
    {'with-icon': arrowColor},
    {'navbar-button': className === 'navbar-button'},
    {'integrations-button': className === 'integrations-button'},
    {'integrations-secondary': className === 'integrations-secondary'},
    {'virtual-events': className === 'virtual-events'},
  ]}
>
  {text}
  {arrowColor && <img src={`/assets/arrow-right-${arrowColor}.svg`} alt="">}
</button>

<style>
  .primary-button {
    padding-block: var(--spacing-sm);
    padding-inline: var(--spacing-md);
    border: none;
    border-radius: 20px;
    background-color: var(--primary-accent);
    color: var(--text-light);
    font-family: var(--body-font);
    font-size: var(--button-text-size);
    font-weight: bold;
    letter-spacing: 1.25px;
    transition: background-color 0.15s ease;
  }

  .primary-button:hover {
    cursor: pointer;
    background-color: var(--primary-button-hover);
  }

  .secondary-button {
    border: none;
    border-radius: 20px;
    background-color: transparent;
    color: var(--primary-accent);
    font-family: var(--body-font);
    font-size: var(--button-text-size);
    font-weight: bold;
    letter-spacing: 1.25px;
    transition: opacity 0.15s ease;
  }

  .secondary-button:hover {
    cursor: pointer;
    opacity: 0.75;
  }

  .with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .with-icon > img {
    transition: transform 0.25s ease;
  }

  .with-icon:hover > img {
    transform: translateX(5px);
  }

  .navbar-button {
    background: rgba(250, 250, 250, 0.25);
  }

  .navbar-button:hover {
    background: rgba(250, 250, 250, 0.5);
  }

  .integrations-button {
    margin-block-start: var(--spacing-md);
    background-color: var(--blue-1);
    color: var(--primary-accent);
  }

  .integrations-button:hover {
    background-color: var(--bg-white);
  }

  .integrations-secondary {
    color: var(--blue-1);
  }

  .virtual-events {
    margin-block-start: var(--spacing-md);
    background-color: var(--purple-1);
  }

  .virtual-events:hover {
    background-color: var(--primary-accent);
  }
</style>
