---

---

<article class="card">
  <img class="icon" src="/assets/tools-icon.png" alt="">
  <h3>Tools for all stacks</h3>
  <p class="secondary-text">
    We offer frontend and backend libraries in some or the most widely used technologies, old and new.
  </p>
  <button type="button" class="secondary-button">Start now</button>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: var(--spacing-sm);
    padding-inline: var(--spacing-md) 0;
  }

  .card .icon {
    margin-block: 0 var(--spacing-sm);
    margin-inline: 0;
    block-size: 4.2rem;
  }

  .card h3 {
    margin: 0;
    width: 100%;
    font-family: var(--heading-font);
    font-size: var(--h6-size);
    font-weight: 500;
  }
</style>
