---
interface Props {
  icon: string;
  text: string;
  title: string;
  textDark?: boolean;
}

const {title, text, icon, textDark = false} = Astro.props;
---

<article class="card">
  <img class="icon" src={icon} alt="">
  <h3>{title}</h3>
  <p class={'secondary-text' && textDark ? 'text-dark' : ''}>{text}</p>
  <slot name="button"/>
</article>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .card .icon {
    margin-block: 0 var(--spacing-sm);
    margin-inline: 0;
    block-size: 4.2rem;
  }

  .card h3 {
    margin: 0;
    width: 100%;
    font-family: var(--heading-font);
    font-size: var(--h6-size);
    font-weight: 500;
  }

  .text-dark {
    color: var(--text-dark);
  }
</style>
