---
import {globalSectionData} from "../data/global-section";
import Card from "./Card.astro";
---

<section class="global-section">
  <div class="section-container">
    <div class="two-column">
      <div class="col-left">
        <p class="subtitle-blue">Global scale</p>
        <h2>A structure for global businesses</h2>
        <p>Swipe makes moving money simple, borderless, and programmable - just like the rest of the
          internet. We have teams all over the world and we process billions and billions of dollars
          yearly for <a href="#">startups, Fortune 500s, and everything in between.</a></p>
      </div>

      <div class="col-right">
        <img id="globe" src="/assets/global-graphic.png" alt="">
      </div>
    </div>

    <div class="card-container">
      {globalSectionData.map(({title, description}) =>
        <Card title={title} text={description} verticalLine={true}/>)}
    </div>
  </div>
</section>

<style>
  a {
    color: var(--blue-1);
  }

  a:hover {
    color: var(--text-light);
  }

  .global-section {
    position: relative;
    display: flex;
    justify-content: center;
    inline-size: 100%;
    padding-block: calc(var(--spacing-xl) * 3);
    background-color: var(--primary-accent);
    color: var(--text-light);
  }

  .card-container {
    display: flex;
    margin-block: var(--spacing-xxl);
  }

  .card-container > * {
    box-sizing: border-box;
    margin-inline-end: var(--spacing-md);
    padding-inline-end: var(--spacing-sm);
    inline-size: 25%;
  }

  #globe {
    position: absolute;
    top: 10%;
    max-inline-size: 52rem;
    opacity: 25%;
  }
</style>
