---
import Button from "./Button.astro";
---

<div class="hero" aria-labelledby="page-title">
  <div class="section-container">
    <div class="two-column">
      <div class="col-left">
        <h1 id="page-title">Payments infrastructure for the world</h1>
        <p>
          Millions of companies of all sizes—from startups to Fortune 500s—use
          Swipe’s software and APIs to accept payments, send payouts, and manage
          their businesses online.
        </p>

        <div class="button-container">
          <Button text="Start now" arrowColor="light"/>
          <Button type="secondary" text="Contact sales" arrowColor="purple"/>
        </div>
      </div>

      <div class="col-right hero-phone-container">
        <img class="hero-phone" src="/assets/hero-phone.png" alt="">
      </div>
    </div>
  </div>
</div>

<style>
  .secondary-button {
    color: var(--purple-1);
  }

  .hero p {
    inline-size: 30rem;
  }

  .hero-phone-container {
    align-items: flex-end;
    block-size: 32rem;
  }

  .hero-phone {
    z-index: -1;
    block-size: 44rem;
  }
</style>