---
import Button from "./Button.astro";
---

<nav class="navbar">
  <img alt="Swipe, inc." src="/assets/logo-white.svg">

  <ul class="menu">
    <li><a href="#">Products</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Developers</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Pricing</a></li>
  </ul>

  <Button class="navbar-button" text="Sign In"/>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacing-md);
    width: min(100%, var(--standard-width));
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .menu a {
    margin-block: var(--spacing-md);
    margin-inline: var(--spacing-md);
    color: var(--text-light);
    font-weight: bold;
  }

  .menu a:hover {
    text-decoration: underline;
  }
</style>