---

---

<nav class="navbar">
  <img alt="Swipe, inc." src="/assets/logo-white.svg">

  <ul class="menu">
    <li><a href="#">Products</a></li>
    <li><a href="#">Solutions</a></li>
    <li><a href="#">Developers</a></li>
    <li><a href="#">Resources</a></li>
    <li><a href="#">Pricing</a></li>
  </ul>

  <button class="primary-button navbar-button" aria-label="Sign In" type="button">Sign In</button>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacing-md);
    width: min(100%, var(--standard-width));
  }

  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  .menu a {
    margin-block: var(--spacing-md);
    margin-inline: var(--spacing-md);
    color: var(--text-light);
    font-weight: bold;
  }

  .menu a:hover {
    text-decoration: underline;
  }

  .navbar-button {
    background: rgba(250, 250, 250, 0.25);
  }

  .navbar-button:hover {
    background: rgba(250, 250, 250, 0.5);
  }
</style>