---
import Button from "./Button.astro";
---

<section aria-labelledby="unified-platform">
  <div class="unified-platform-section">
    <div class="section-container">
      <p class="subtitle">Unified Platform</p>
      <h2 id="unified-platform">All the payment products you'll ever need</h2>

      <div class="two-column">
        <div class="col-left">
          <p>
            We've got everything you'll need and more to build websites and mobile apps that handle payments, payouts,
            and much more. Swipe's products are built to work together, so you can start with one and add more as you.
          </p>
        </div>

        <div class="col-right">
          <p>We also help companies tackle fraud, issue invoices, send virtual and physical cards, manage financing,
            wrangle business spend, and much more.
          </p>
        </div>
      </div>

      <Button text="Start now" arrowColor="light"/>
    </div>
  </div>
</section>

<style>
  .unified-platform-section {
    display: flex;
    justify-content: center;
    inline-size: 100%;
    padding-block: var(--spacing-xl);
  }

  .unified-platform-section h2 {
    margin-block-end: var(--spacing-md);
    width: 50%;
  }

  .unified-platform-section .primary-button {
    margin-block: var(--spacing-md);
    background-color: var(--purple-1);
  }

  .unified-platform-section .primary-button:hover {
    background-color: var(--primary-accent);
  }
</style>
